.weather-card-container {
  width: 140px;
  height: 177px;
  background: #1E213A;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 8px 0;
  color: #E7E7EB;

  .weather-card-date {
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
  }

  img {
    width: 62px;
    height: 64px;
    align-self: center;
  }

  .day-temperatures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px 10px 20px;

    .max-temp {
      color: #A09FB1;
    }
  }
}